.bg{


    height: 500px;
    width: 100%;
    margin-top: 20px;
    position:relative ;
    background-repeat: no-repeat;
    background-image: url("../assets/home/head.jpg");
    background-size:     cover;  
}

 .text{
    position: absolute;
    top: 40%;
    left: 35%;
    color: rgb(227, 232, 238);


}


@media screen and (max-width: 767px) {
    .bg {
      height: 200px;
    }
    .text{
        top: 20%;
        left: 6%;
    }
  }