.container-5{
    height: fit-content;
    width: -webkit-fill-available;
    border: solid rgb(199, 78, 78);
}

.places-container{
    display: block;
    justify-content: center;
   
}

.places{
    margin: 40px;
    
}
@media screen and (max-width: 767px) {
    

  }
