.container-4{
    margin-top: 10px;
    position: relative;
    height: 600px;
    border: solid rgb(197, 187, 187);
}
.cards{
    margin: 20px;
    height: 200px;
    width: 300px;
    border: solid rgb(193, 193, 230);
    padding: 10px;
}
.container-cards{
    display: inline;
  
}

.in-block{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .in-block{
      display: block;
      
    }
    .container-4{
        height: fit-content;
    }

  }
