.when{
    height:fit-content;
    width: fit-content;
    border: solid rgb(228, 222, 214);
    left: 10%;
    margin: 5px;
    position: relative;
    left: 10%;
    margin-top: 30px;
    padding: 5px;
}

.container-1{
    margin-top: 100px;
}

.text-content {
    border: solid rgb(243, 236, 227);
    height: 200px;
    width: 600px;
    position: relative;
    left: 45%;
    top: -235px;
    
    display: block;
}


