.when{
    height:fit-content;
    width: fit-content;
    border: solid rgb(228, 222, 214);
    left: 10%;
    margin: 5px;
    position: relative;

    margin-top: 30px;
    padding: 5px;
    display: flex;
}

.container-1{
    margin-top: 100px;
}

.text-content {
    border: solid rgb(243, 236, 227);
    height: 200px;
    width: 507px;
    position: relative;
    left: 20%;
    top: -150px;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .container-1{
        display: block;
        margin-top: 20px;
    }
    .when{
        display: block;
    }
    .text-content{
        display: block;
    top: auto;
    left: auto;
    width: auto;
    margin-top: inherit;
    padding: 15px;
    }
}


